.flex-container{
	display: flex;
	background: #cc9;
	margin: auto;
	max-width: 1000px;
	height: 100vh;
	flex-direction: column;

}
.main-header{
	background: yellowgreen;
	flex-basis: 100%;
	max-height: 80px;
}
.footer{
	background: #f90;
	flex-basis: 100%;
	max-height: 150px;
}
main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.sidebar{
	flex-basis: 300px;
	background: pink;
	flex-grow: 1;
	order: 1;
}
.data{
	background: #9f0;
	flex-grow: 1;
	flex-basis: 600px;
	order: 2;
}






























/*
.main-header{
	background: #0f9;
	min-height: 100px;
	max-height: 100px;
	flex-basis: 100%;
}
.data{
	background: yellowgreen;
	flex-grow: 1;
	min-width: 500px;
	min-height: 300px;
	order: 1;
}
.sidebar{
	background: #f09;
	flex-basis: 300px;
	flex-grow: 1;
	order: 2;
}
.footer{
	background: #9f0;
	min-height: 100px;
	max-height: 100px;
	flex-basis: 100%;
}
main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 100%;
}*/